################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/nunit.framework.dll
/bin/Debug/nunit.framework.pdb
/bin/Debug/nunit.framework.xml
/bin/Debug/StringsCalculator.exe
/bin/Debug/StringsCalculator.exe.config
/bin/Debug/StringsCalculator.pdb
/bin/Debug/StringsCalculator.vshost.exe
/bin/Debug/StringsCalculator.vshost.exe.config
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/StringsCalculator.csproj.FileListAbsolute.txt
/obj/Debug/StringsCalculator.exe
/obj/Debug/StringsCalculator.pdb
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/packages/NUnit.3.12.0/build/NUnit.props
/packages/NUnit.3.12.0/CHANGES.md
/packages/NUnit.3.12.0/lib/net35/nunit.framework.dll
/packages/NUnit.3.12.0/lib/net35/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/net35/nunit.framework.xml
/packages/NUnit.3.12.0/lib/net40/nunit.framework.dll
/packages/NUnit.3.12.0/lib/net40/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/net40/nunit.framework.xml
/packages/NUnit.3.12.0/lib/net45/nunit.framework.dll
/packages/NUnit.3.12.0/lib/net45/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/net45/nunit.framework.xml
/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.dll
/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.xml
/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.dll
/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.pdb
/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.xml
/packages/NUnit.3.12.0/LICENSE.txt
/packages/NUnit.3.12.0/NOTICES.txt
/packages/NUnit.3.12.0/NUnit.3.12.0.nupkg
/packages/repositories.config
/obj/Debug/StringsCalculator.csprojResolveAssemblyReference.cache
/StringsCalculator.v12.suo
